<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Estudo Flask</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div>
      <h1>Estudo Flask</h1>
      <h5>Flask</h5>
    </div>
    <div>
      <p>Bem vindo a aula de Flask</p>
      <a href="{{url_for('novapagina')}}">Link</a>
    </div>
    <div>
      <h1>Bem-vindo, {{ nome }}!</h1>

      <p>Idade: {{ idade }}</p>

      <h3>Interesses:</h3>
      <ul>
        {% for interesse in interesses %}
        <li>{{ interesse }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
